Source: kconfig-frontends
Section: devel
Priority: optional
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends:
 debhelper (>= 10),
 go-md2man,
 flex,
 bison,
 gperf,
 libncurses5-dev,
 libgtk-3-dev,
 libglade2-dev,
 libqt5core5a,
 libqt5gui5,
 pkg-config
X-Python3-Version: >= 3.2
Standards-Version: 4.1.1
Homepage: http://ymorin.is-a-geek.org/projects/kconfig-frontends
Vcs-Git: https://anonscm.debian.org/git/users/pthierry-guest/kconfig-frontends.git
Vcs-Browser: https://anonscm.debian.org/cgit/users/pthierry-guest/kconfig-frontends.git

Package: kconfig-frontends
Architecture: linux-any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},,
 libncurses5-dev,
 python3 (>= 3.2),
Recommends:
 libgtk-3-dev,
 libglade2-dev,
 libqt5core5a,
 libqt5gui5,
Description: Standalone implementation of the Linux Kconfig parser and frontend
 Kconfig-frontends provides the kconfig parser, as well as all the frontends
 (dialog, ncurses, Qt and Gtk based) to configure and generate config files
 and config headers for various projects.
