Source: kconfig-frontends
Section: devel
Priority: optional
Maintainer: Stephan Linz <linz@li-pro.net>
Build-Depends:
 debhelper (>= 10),
 flex,
 bison,
 gperf,
 libncurses5-dev,
 libgtk-3-dev,
 libglade2-dev,
 qtbase5-dev,
 pkg-config
Standards-Version: 4.2.1
X-Python3-Version: >= 3.5
Homepage: https://salsa.debian.org/philou/kconfig-frontends
Vcs-Git: https://github.com/lipro-pkgs/kconfig-frontends.git
Vcs-Browser: https://github.com/lipro-pkgs/kconfig-frontends

Package: kconfig-frontends
Architecture: linux-any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python3,
 libncurses5-dev,
Recommends:
 libgtk-3-dev,
 libglade2-dev,
 qtbase5-dev,
Description: Standalone implementation of the Linux Kconfig parser and frontend
 Kconfig-frontends provides the kconfig parser, as well as all the frontends
 (dialog, ncurses, Qt and Gtk based) to configure and generate config files
 and config headers for various projects.
