.TH "KCONFIG-MERGE" "1" " kconfig-merge Man Page" "Philippe Thierry" "October 2017" 
.nh
.ad l


.SH NAME
.PP
kconfig\-merge \- Standalone implementation of the Linux Kconfig parser


.SH SYNOPSIS
.PP
\fBkconfig\-merge [options] <KConfig_file>\fP


.SH DESCRIPTION
.PP
The kconfig toolkit support the Kconfig language and implement
the parser and the configuration support associated to the KConfig
files respecting the Linux kernel KConfig convention.

.PP
At configuration time:
.IP \(bu 2
kconfig\-mconf is based on ncurses (menuconfig)
.IP \(bu 2
kconfig\-conf is based on dialog (config)
.IP \(bu 2
kconfig\-gconf is based on GTK+ (gconfig)

.PP
Associated tools:
.IP \(bu 2
kconfig\-diff displays symbols diff between .config files


.SH OPTIONS
.PP
\fB\-\-silentoldconfig\fP
Only for kconfig\-conf, reload a given .config and regenerate
header and command files accordingly.

.PP
\fB\-\-allnoconfig\fP
Set all boolean configuration to no.

.PP
\fB\-\-allyesconfig\fP
Set all boolean configuration to yes.

.PP
\fB\-\-randconfig\fP
Generates a random configuration.


.SH ENVIRONMENT
.SH Environment variables for '*config'
.PP
\fBKCONFIG\_CONFIG\fP

.PP
This environment variable can be used to specify a default kernel config
file name to override the default name of ".config".

.PP
\fBKCONFIG\_OVERWRITECONFIG\fP

.PP
If you set KCONFIG\_OVERWRITECONFIG in the environment, Kconfig will not
break symlinks when .config is a symlink to somewhere else.

.PP
\fBCONFIG\_\fP

.PP
If you set CONFIG\_ in the environment, Kconfig will prefix all symbols
with its value when saving the configuration, instead of using the default,
"CONFIG\_".

.SH Environment variables for '{allyes/allmod/allno/rand}config'
.PP
\fBKCONFIG\_ALLCONFIG\fP

.PP
The allyesconfig/allmodconfig/allnoconfig/randconfig variants can also
use the environment variable KCONFIG\_ALLCONFIG as a flag or a filename
that contains config symbols that the user requires to be set to a
specific value.  If KCONFIG\_ALLCONFIG is used without a filename where
KCONFIG\_ALLCONFIG == "" or KCONFIG\_ALLCONFIG == "1", "make *config"
checks for a file named "all{yes/mod/no/def/random}.config"
(corresponding to the *config command that was used) for symbol values
that are to be forced.  If this file is not found, it checks for a
file named "all.config" to contain forced values.

.PP
This enables you to create "miniature" config (miniconfig) or custom
config files containing just the config symbols that you are interested
in.  Then the kernel config system generates the full .config file,
including symbols of your miniconfig file.

.PP
This 'KCONFIG\_ALLCONFIG' file is a config file which contains
(usually a subset of all) preset config symbols.  These variable
settings are still subject to normal dependency checks.

.PP
Examples:
    KCONFIG\_ALLCONFIG=custom\-notebook.config make allnoconfig
or
    KCONFIG\_ALLCONFIG=mini.config make allnoconfig
or
    make KCONFIG\_ALLCONFIG=mini.config allnoconfig

.PP
These examples will disable most options (allnoconfig) but enable or
disable the options that are explicitly listed in the specified
mini\-config files.

.SH Environment variables for 'randconfig'
.PP
\fBKCONFIG\_SEED\fP

.PP
You can set this to the integer value used to seed the RNG, if you want
to somehow debug the behaviour of the kconfig parser/frontends.
If not set, the current time will be used.

.PP
\fBKCONFIG\_PROBABILITY\fP

.PP
This variable can be used to skew the probabilities.
See /usr/share/doc/kconfig\-frontends/kconfig.txt.gz.

.PP
Environment variables for 'silentoldconfig'

.PP
\fBKCONFIG\_NOSILENTUPDATE\fP

.PP
If this variable has a non\-blank value, it prevents silent kernel
config updates (requires explicit updates).

.PP
\fBKCONFIG\_AUTOCONFIG\fP

.PP
This environment variable can be set to specify the path \& name of the
"auto.conf" file.  Its default value is "include/config/auto.conf".

.PP
\fBKCONFIG\_TRISTATE\fP

.PP
This environment variable can be set to specify the path \& name of the
"tristate.conf" file.  Its default value is "include/config/tristate.conf".

.PP
\fBKCONFIG\_AUTOHEADER\fP

.PP
This environment variable can be set to specify the path \& name of the
"autoconf.h" (header) file.
Its default value is "include/generated/autoconf.h".


.SH HISTORY
.PP
June 2017, Man page originally compiled by Philippe Thierry (phil at reseau\-libre dot
com)
