#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_installdocs:
	dh_installdocs
	rm -f $(CURDIR)/debian/kconfig-frontends/usr/share/doc/kconfig-frontends/INSTALL.gz
